<html>
  <head>
    <title>My movies{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'mymovies/css')}}"/>
  </head>
  <body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('movies_page') }}">List movies</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
  <footer>
      <small>
          &copy 2020 Riza
      </small>
  </footer>

  </body>
</html>
